@font-face {
    font-family: "Raleway";
    src: url("Font/static/Raleway-Regular.ttf");
}
p {
    font-size: 1em;
    font-weight: 500;
}
h3 {
    font-size: 1.1rem;
}
ul {
    list-style-type: none;
}
html,
body {
    font-family: "Raleway";
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 1.7rem;
}
h5 {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 15px;
}
.fas[data-active="true"] {
    color: #0065fc;
}
.fas[data-active="false"] {
    color: rgb(206, 206, 206);
}
.logo {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 30px;
    left: 50px;
}
.menu_headerbis {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-areas: ". menu_1 menu_2 menu_3";
}
.menu_1 {
    grid-area: menu_1;
    text-align: center;
    padding-top: 40px;
    border-top: 3px solid #0065fc;
}
.menu_2 {
    grid-area: menu_2;
    text-align: center;
    padding-top: 40px;
    margin-top: 3px;
}
.menu_3 {
    grid-area: menu_3;
    text-align: center;
    padding-top: 40px;
    margin-top: 3px;
    font-weight: 800;
}
.menu_1 a {
    color: #0065fc;
}
.menu_3 a {
    color: #0065fc;
}
.menu_2 :hover {
    color: #0065fc;
}
.menu_2 .search {
    padding: 50px;
}
.search {
    padding: 50px;
}
.input_search {
    display: flex;
    width: 350px;
    border: 1px solid #f2f2f2;
    border-radius: 100px;
    margin-top: 10px;
}
.search_button {
    background-color: #0065fc;
    border: 0;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    padding: 0 5px 0 5px;
    font-weight: 900;
}
.search_button i {
    display: none;
}
.gps_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.input_search_2 {
    border: none;
    outline: none;
    width: 230px;
    padding-left: 20px;
}
.input_search_2 :focus {
    border: none;
}
.search_button_mobile {
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    border: 0;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
}
.filters {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filters_select {
    border: 3px solid #f2f2f2;
    background: none;
    align-items: center;
    margin-left: 15px;
    border-radius: 30px;
}
.filters_select i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: -3px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
}
.filters_select span {
    padding: 0 15px 0 5px;
}
.info {
    display: flex;
    margin-top: 35px;
}
.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    width: 25px;
    height: 25px;
    color: #0065fc;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
}
.info span {
    margin-top: 8px;
    padding-left: 10px;
}
main {
    display: grid;
    grid-template-columns: 66.5% 31.2%;
    grid-template-rows: auto auto;
    grid-template-areas: "a ap" "ac ac";
    padding-right: 50px;
    padding-left: 50px;
    grid-gap: 35px;
    column-gap: 35px;
}
.accommodation_pop {
    display: grid;
    grid-area: ap;
    grid-template-rows: 30px 143px 143px 143px;
    grid-gap: 35px;
    padding: 35px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.accommodation_pop header {
    display: flex;
    justify-content: space-between;
}
.cards_accommodationpop {
    display: flex;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_accommodationpop_pictures {
    width: 35%;
    height: 135px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cards_accommodationpop_legends {
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}
.cards_accommodationpop_stars {
    position: absolute;
    bottom: 10px;
}
.accommodation {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px 200px 200px 30px;
    grid-template-areas: "ah2 ah2 ah2" "ca1 ca2 ca3" "ca4 ca5 ca6" "ap ap ap";
    grid-gap: 35px;
    column-gap: 35px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 35px 35px 0 35px;
}
.accommodation h2 {
    grid-area: ah2;
}
.accommodation p {
    grid-area: ap;
}
.ca1 {
    grid-area: ca1;
}
.ca2 {
    grid-area: ca2;
}
.ca3 {
    grid-area: ca3;
}
.ca4 {
    grid-area: ca4;
}
.ca5 {
    grid-area: ca5;
}
.ca6 {
    grid-area: ca6;
}
.cards_accommodation {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_accommodation_pictures {
    height: 114px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_accommodation_legends {
    height: 75px;
    position: relative;
    padding-left: 10px;
    padding-top: 3px;
}
.cards_accommodation_stars {
    position: absolute;
}
.activity {
    display: grid;
    grid-area: ac;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 160px 5px 5px 160px;
    grid-template-areas:
        "ah ah ah ah"
        "cab cam cab2 cam2"
        "cab cam cab2 cam2"
        "cab cam cab2 cam3"
        "cab cal cab2 cam3";
    grid-gap: 40px;
}
.title_activity {
    grid-area: ah;
    justify-content: start;
}
.cards_activity {
    height: 100%;
}
.cards_activity_1 {
    grid-area: cab;
}
.cards_activity_2 {
    grid-area: cam;
}
.cards_activity_3 {
    grid-area: cal;
}
.cards_activity_4 {
    grid-area: cab2;
}
.cards_activity_5 {
    grid-area: cam2;
}
.cards_activity_6 {
    grid-area: cam3;
}
.cards_activity_big {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_big2 {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_medium {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_medium2 {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_medium3 {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_little {
    height: calc(100% - 55px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activity_legends {
    height: 55px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cards_activity_legends p {
    font-weight: 900;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    height: 225px;
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 50px;
}
.footer_menu {
    word-spacing: 0.2rem;
}
.footer_menu ul {
    margin-top: 15px;
}
