@font-face {
    font-family: "Raleway" ;
    src: url("Font/static/Raleway-Regular.ttf");
}
p {
    font-size: 1em;
    color: black;
    font-weight: 500;
}
h4 {
    color: black;
}
h5{
    font-size: 1.5em;
    margin-top: 50px;
}
ul {
    list-style-type: none;
}
html, body {
    font-family : "Raleway"
}
a {
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.menu_header {
    float: right;
    width: 600px;
    margin-top: -148px;
    font-size: 1.1em;
    font-weight: 700;
}
.menu_headerbis {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.menu_headerbis li {
    width: 100%;
    padding-top: 50px;
    border-top: 3px solid white;
}
.menu_headerbis li.active {
    border-top: 3px solid #0065FC;
}
.menu_headerbis li.active a {
    color: #0065FC;
}
.menu_headerbis li:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.menu_2 {
    border-top: 3px solid white;
}
.menu_3 {
    color: #0065FC;
}
.menu_2:hover{
    color: #0065FC;
}
.logo {
    position: absolute;
    top: 50px;
}
.presentation {
    margin-top: 130px;
}
.presentation p{
    margin-top: -8px;
}
.gps_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #F2F2F2;
}
.search1 {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 420px;
}
input {
    border: 0;
    width: 235px;
    padding-left: 10px;
    font-size: 1.35em;
}
.search_button {
    font-size: 1.35em;
    font-weight: 600;
    color: white;
}
.search_button2 {
    width: 133px;
    background-color: #0065FC;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: 0;
}
.filters {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 70%;
    margin-top: 50px;
}
.filters p {
    font-weight: 800;
}
.filters_select {
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    padding: 13px;
    padding-right: 25px;
    padding-left: 40px;
}
.filters_select i {
    position: absolute;
    display: flex;
    margin-top: -16px;
    margin-left: -50px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
}
.filters_select p {
    margin: auto;
    margin-left: 7px;
    font-weight: 700;
}
.filters_select:hover {
    background-color: #f3f8ff;
    transition-duration: 0.15s;
}
.info {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 10px;
}
.info i {
    margin-top: 12px;
    margin-left: 10px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #0065FC;
    border:2px solid #dadada;
    border-radius: 100%
}
.info p{
    margin-left: 14px; 
}
.right_header {
    display: flex;
}
.hebergementetpop {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 62%;
    height: 630px;
    padding: 0px 20px 0px 20px;
}
.hebergements_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hebergements h2 {
    margin-top: 40px;
    margin-left: 25px;
}
.hebergements p {
    margin-left: 25px;
}
.cards_hebergements {
    position: relative;
    width: 28%;
    height: 200px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_hebergements:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.cards_hebergements_legends {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
}
.cards_hebergements_legends p {
    margin-top: -22px;
    margin-left: 12px;
}
.cards_hebergements_legends h4 {
    margin-top: 8px;
    margin-left: 12px;
    font-size: 1.1em;
}
.cards_hebergements_pictures {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cards_hebergements_stars{
    position: absolute;
    display:flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 12px;
    margin-top: 50px;
}
.fas[data-active="true"]{
    color: #0065FC;
}
.fas[data-active="false"]{
    color:rgb(206, 206, 206);
}
.hebergements_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0px 20px 30px 20px;
}
.hebergements_pop h2{
    margin-left: 15px;
    margin-top: 40px;
}
.card_hebergementspop_center{
    align-content: center;
}
.cards_hebergementspop {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 90%;
    height: 140px;
    position: relative;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_hebergementspop:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.cards_hebergementspop_legends {
    position: absolute;
    width: 350px;
    height: 130px
}
.cards_hebergementspop_legends h4{
    margin-top: 12px;
    margin-left: 168px;
    width: 45%;
    font-size: 1.1em;
}
.cards_hebergementspop_legends p{
    margin-left: 133px;
    padding-left: 10%;
    margin-top: -13px;
}
.cards_hebergementspop_pictures {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cards_hebergementspop_stars{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 114px;
    width: 25%;
    margin-left: 168px;
}

.activités {
    margin-top:-15px;
    width: 100%;
    height: 447px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.activités a:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.cards_activités_column {
    height: 447px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}
.cards_activités_big {
    object-fit: cover;
    width: 100%;
    height: 390px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_little {
    object-fit: cover;
    width: 100%;
    height: 109px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium2 {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium {
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium3 {
    object-fit: cover;
    width: 100%;
    height: 153px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_legends {
    margin-top: -3px;
    height: 55px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
    padding-top: px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cards_activités_legends p {
    position: absolute;
    margin-left: 20px;
    font-weight: 900;
    font-size: 1.1em;
}
footer {
    margin-top: 50px;
    position: absolute;
    left: 0px;
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    height: 220px;
}
.footer_menu {
    margin-left: 215px;
}
.footer_menu ul {
    margin-left: -40px;
    line-height: 200%;
    word-spacing: 110%;
    letter-spacing: 110%;
}