@font-face {
    font-family: "Raleway";
    src: url("Font/static/Raleway-Regular.ttf");
}
p {
    font-size: 0.9em;
    color: black;
    font-weight: 500;
}
h1 {
    font-size: 1.8em;
}
h4 {
    color: black;
}
h5 {
    font-size: 1.5em;
    margin-top: 30px;
    padding: 0px 20px 0px 20px;
}
ul {
    list-style-type: none;
}
html,
body {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 576px;
}
.menu_header {
    margin-top: 100px;
    font-size: 1.1em;
    font-weight: 700;
}
.menu_headerbis {
    display: flex;
    justify-content: space-between;
}
.menu_headerbis li {
    width: 100%;
    border-bottom: 3px solid white;
}
.menu_headerbis li.active {
    border-bottom: 3px solid #0065fc;
}
.menu_headerbis li.active a {
    color: #0065fc;
}
.menu_3 {
    color: #0065fc;
    position: absolute;
    top: 30px;
    right: 15px;
}
.menu_2:hover {
    color: #0065fc;
}
.logo {
    position: absolute;
    top: 15px;
    left: 15px;
}
.presentation {
    padding: 0px 20px 0px 20px;
    margin-top: 55px;
}
.presentation p {
    margin-top: -8px;
}
.gps_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #f2f2f2;
}
.search1 {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-left: 18px;
    width: 90%;
    height: 50px;
    padding: 0px 0px 0px 0px;
}
input {
    border: 0;
    width: 80%;
    padding-left: 10px;
    font-size: 1.35em;
}
.search_button2 {
    display: none;
}
.search_button2_mobile {
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    border: 0;
    border-radius: 15px;
}
.search_button2_mobile i {
    color: white;
}
.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
    margin-top: 10px;
    padding: 0px 20px 0px 20px;
}
.filters p {
    font-weight: 800;
}
.filters_select {
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    padding: 13px;
    padding-right: 25px;
    padding-left: 40px;
}
.filters_select i {
    position: absolute;
    display: flex;
    margin-top: -16px;
    margin-left: -50px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
}
.filters_select p {
    margin: auto;
    margin-left: 7px;
    font-weight: 700;
}
.filters_select:hover {
    background-color: #f3f8ff;
    transition-duration: 0.15s;
}
.info {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 20px;
}
.info i {
    margin-top: 12px;
    margin-left: 20px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #0065fc;
    border: 2px solid #dadada;
    border-radius: 100%;
}
.info p {
    margin-left: 14px;
}
.right_header {
    display: flex;
}
.hebergementetpop {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 2;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    width: 90%;
    height: 1450px;
}
.hebergements_row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 725px;
}
.hebergements h2 {
    margin-top: 40px;
}
.cards_hebergements {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_hebergements_legends {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
}
.cards_hebergements_legends p {
    margin-top: -22px;
    margin-left: 12px;
}
.cards_hebergements_legends h4 {
    margin-top: 8px;
    margin-left: 12px;
    font-size: 1.1em;
}
.cards_hebergements_pictures {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cards_hebergements_stars {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 23%;
    margin-left: 12px;
    margin-top: 50px;
}
.fas[data-active="true"] {
    color: #0065fc;
}
.fas[data-active="false"] {
    color: rgb(206, 206, 206);
}
.hebergements_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 580px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.only_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.poptitle_font {
    display: flex;
    justify-content: space-between;
}
.poptitle_font i {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 30px;
}
.hebergements_pop h2 {
    margin-left: 15px;
    margin-top: 20px;
}
.card_hebergementspop_center {
    align-content: center;
}
.cards_hebergementspop {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 90%;
    height: 140px;
    position: relative;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
}
.cards_hebergementspop_legends_stars {
    width: 20%;
}
.cards_hebergementspop_legends h4 {
    margin-top: 10px;
    font-size: 1.1em;
}
.cards_hebergementspop_legends p {
    margin-top: -13px;
}
.cards_hebergementspop_pictures {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cards_hebergementspop_stars {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.activités {
    margin-top: -15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.cards_activités_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.cards_activités_big {
    object-fit: cover;
    width: 100%;
    height: 195px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_little {
    object-fit: cover;
    width: 100%;
    height: 195px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium2 {
    object-fit: cover;
    width: 100%;
    height: 195px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium {
    object-fit: cover;
    width: 100%;
    height: 195px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_medium3 {
    object-fit: cover;
    width: 100%;
    height: 195px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards_activités_legends {
    margin-top: -3px;
    height: 55px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 12px rgb(205, 205, 205);
    padding-top: px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cards_activités_legends p {
    position: absolute;
    margin-left: 20px;
    font-weight: 900;
    font-size: 1.1em;
}
footer {
    margin-top: 50px;
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    height: 490px;
}
.footer_menu {
    margin-left: 8%;
}
.footer_menu ul {
    margin-left: -40px;
    line-height: 200%;
    word-spacing: 110%;
    letter-spacing: 110%;
}
